<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YV_Blog </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Italianno&family=Leckerli+One&family=Pacifico&display=swap" rel="stylesheet">
 <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 
   
 <link rel="stylesheet" href="/style/animation-main.css">
  <link rel="stylesheet" href="/style/main.css"> 
  
</head>

<body id="main_bg">
  <header>
      <nav  >
        <ul class="nav_bar side_bar">
          <li onclick="hideSidebar()" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="white" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li> 
          <li><a href="/">Home</a> </li>
          <li><a href="/posts">All Posts</a> </li>
          <li><a href="#">Sign in</a> </li>
        </ul>
        <ul class="nav_bar">
          <li id="logo">YV_Blog</li> 
          <li class="hideonMobile" ><a href="/">Home</a> </li>
          <li class="hideonMobile"><a href="/posts">All Posts</a> </li>
          <li class="hideonMobile"><a href="#">Sign in</a> </li>
          <li class="menu-icon" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="white" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a> </li>
        </ul>
      </nav>
  </header>
  <main >


