*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  /* variables */
  --HEADER-BG:#6b123e; 
  --FOOTER-BG:#6b123e;
  --MAIN-BG:#fde4ce;
  --LINK-COLOR: #000;

  --SIDE_BAR-BG:#6b123e;
}

header{
position: sticky;
top: 0px;
width: 100%;
z-index: 2;
/* border: 2px solid blue; */


}

body{
background-color:white ;
display: flex;
flex-direction: column;
min-height: 100vh;
}
 
 main{ 
  display: flex;
  flex-grow: 1;

} 

.main{
  background-image: url("../images/blog-cafe.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom top ;
  background-attachment:fixed ;
    z-index: 1;
   
  border: 2px solid salmon;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;

 
}
.nav_bar{
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-left: 0px;
  
}

.nav_bar li{
list-style: none;
padding: 3px;
margin: 5px;

}
.nav_bar li > a{
  text-decoration: none;
  color: white;
  font-weight:bold;
}
.nav_bar li:nth-child(n+2),.side_bar li:nth-child(1){
background-color: black;
color: white;
padding: 8px;
padding-inline: 15px;
font-size: 15px;
border-radius: 10px;
border: none;
}

.nav_bar li:nth-child(n+2):hover,.side_bar li:nth-child(1):hover{
  background-color: blue;
}
.menu-icon{
  display: none;
}

#logo{
  margin-right: auto;
  font-family: 'Dancing Script', cursive;
  color: green;
  font-size: 1.5rem;
  font-weight: bolder;
}

h1{
  text-align: center;
  margin-bottom: 5px;
 /*  color: hsla(239, 100%, 50%, 0.895); */
  color: rgb(5, 204, 249);
  font-size: 2.5rem;

}

h1>span{
/*   color: #198754; */
  /* color: rgba(0, 0, 0, 0.842); */
  color: blue;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create  {
background-color: green; 
text-decoration: none;
font-size: 1rem;
padding: 8px;
text-align: center;
border-radius: 15px;
color: white;
}
.create:hover{
  background-color: blue;
}

#blog{
  z-index: 2;
  background-color: bisque;
  width: 100px;
  height: 100px;
  border: 4px dotted blue;
  border-radius: 50%;
  color: green;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;

display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;

animation-name: rotate-blog;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction:alternate;
animation-fill-mode: forwards;

}

footer{
  background-color: bisque;
  color:black;
  position: sticky;
  bottom: 0px;
  width: 100%;

}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer a{
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  
}
.footer a:hover{
color: purple;
}
.linkedin i{
  color: blue;
}
.tel i{
  color: green;
}
.email i{
  color: orange;
}

.fa-linkedin,.fa-phone-volume,.fa-envelope{
  padding-right: 5px;
}
/* ******************************Side bar**************************** */
.side_bar{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 270px;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-right: 10px;

  animation: slide-left 0.6s;
  
}
.slide-left{
  animation: slide-left 0.6s;
}
/* .slide-right{
  animation: slide-right 0.6s ;
} */
.side_bar li{
  width: 100%;

}

/* ************************************************************ */
/* Create page style */
.center_form{
   display: flex;
  flex-direction: column;
  align-items: center; 
  border: 2px solid salmon;

  width: 100%;
}
#form-title{
  margin-bottom: 30px; 
  font-size: 2rem;
  color: blue;
}

.form_container{
  background-color: bisque;
  border: 2px solid black;
  border-radius: 20px;
  border: none;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;

  position: relative;
  overflow: hidden;
}
form{
  z-index: 3;

}
.form_container::before{
  position: absolute;
  content: "";
  width:50%;
  height: 160%;
  background: linear-gradient(#000,#008000);
  z-index: 1;
  transform: rotate(45deg);
  animation: animate-form 4s linear infinite;
}
.form_container::after{
  position: absolute;
  content: "";
  inset: 6.5px;
  border-radius: 10px;
  background:bisque;
 /*  padding: 5px; */
  z-index: 2;
  }

.form_item{
  position: relative;
  margin-bottom: 10px;
}

.message{
  display: flex;
  justify-content: center;
}

.button{
display: flex;
justify-content: center;
gap: 30px;
}
.form_item button{
  padding: 10px;
  padding-inline: 25px;
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;;

}
.form_item button#send{
background-color: blue;
color: white;
}
.form_item button#reset{
  background-color: hsl(0, 0%, 50%);
  color: black;

  }
  .form_item button {
    background-color: hsl(0, 0%, 50%) ;
  }
  .form_item button > a{
    text-decoration: none;
    color: black;
  }
label{
  display: inline-block; 
  width: 7.5rem;
  color: black;
  font-size: 1rem;
}
input{
  border-radius: 5px; 
  border: 2px solid black;
  padding: 2.5px;
}

.bxs-user{
  position: absolute;
  top:8px;
  right: 10px;
  color: green;
}
/* ********************All Posts page************************ */

.container-post{
  display: flex;
  flex-direction: column;
  align-items:start;
  border: 2px solid rebeccapurple;
  width: 100%;

}
.post_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin: 0 auto;

}
.post_head  > h1{
color: blue;
}
.action-btn{
  margin-bottom: 10px;
}
#post-by{
  margin-bottom: 0px;
}
.user-post li{
   margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 

}

.user-post li{
  list-style: none;
}

/*************More page style****************/

.more_container{
  margin-left: 15px;
}
/* *****************Media query**************************** */
/* Mobile */
@media (max-width:480px){
 
.side_bar{
  width: 100%;
}
#blog{
  margin-top: 50px;
}
.nav_bar{
  padding-left: 0px;
}
.main-container a{
  margin-bottom: 20px;
}
.form_container{
  width: 90%;
  margin-bottom: 10px;
  /* z-index: -1; */
}
footer{
  z-index: 4;
}

label{
  width: 6rem;
  display: block;
  font-weight: bold;
}

#form-title{
  font-size: 1.5rem;
  margin-bottom: 10px;

}
.form_item{
  width: 100%;
}
input{
  width: 100%;
}
.message{
width: 230px;
}
.bxs-user{
  top:34px;
  right: 12px;
}
.btn{
  font-size: 0.8rem;
}

}
/* ipads & tablets */
@media (min-width:481px){
 /*  body{
    background-color: aqua;
  } */
  #blog{
    z-index: -1;
  }

  .form_container{
    width: 72%;
    margin-bottom: 10px;
   
  }
 
  label{
    font-size: 1rem;
    font-weight: bold;
  }
  input{
    width: 100%;
  }
  #form-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  footer{
    z-index: 4;
  }
  .bxs-user{
    top:36px;
    right: 12px;
  }
}

  @media (min-width:769px){
  /*   body{
      background-color: violet;
    } */
    .form_container{
      width: 68%;
      
    }
    .form_container::before{
      height: 188%;
    }
  }
  @media(min-width:1025px){
  /*   body{
      background-color: aquamarine ;
    } */

    .form_container{
      width: 50%;
      
    }
    .form_container::before{
      height: 194%;
    }
 
  }

@media (max-width:800px){
 .hideonMobile{
  display:none;
 }
 .menu-icon{
  display: block;

 }
 .menu-icon:hover svg{
  fill: white;
 }
 
}


