
    <%- include("partials/header.ejs") %>
    <div class="main">
    <div class="main-container">
      <h1>Welcome to <span>Yoanny's</span>  Blog</h1>
      <a class="create" href="/new_post">Create Post</a>
    </div> 
 
      <div id="blog">
        <p id="blog-logo">YV</p>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>

  
